<svg width="258" height="211" viewBox="0 0 258 211">
  <defs>
    <linearGradient id="blop-a" x1="50%" x2="50%" y1="0%" y2="100%">
      <stop offset="0%" stop-color="#FF512F"/>
      <stop offset="100%" stop-color="#DD2476"/>
    </linearGradient>
  </defs>
  <path fill="url(#blop-a)" fill-rule="evenodd" d="M303.168969,34.1590361 C304.885683,35.9177436 329.911637,55.8741197 332.332078,64.4917983 C333.897497,70.0652776 331.801136,76.0106699 332.332078,81.7401536 C333.033404,89.3082771 339.3153,100.408264 340.022471,106.147297 C341.299141,116.508074 323.740342,162.500912 319.473314,170.704512 C309.522709,189.835105 278.566624,198.533507 258.838202,207.875758 C243.092699,215.331927 248.100034,219.344239 223.867337,222.737851 C216.449792,223.776624 186.025753,225.416668 173.568966,219.374662 C130.941102,198.698556 76.6813351,143.788201 78.6556574,99.853329 C79.6246538,78.2901144 110.800977,53.3495849 115.207227,32.6375934 C118.570977,16.8259747 286.790343,17.3797607 303.168969,34.1590361 Z" transform="rotate(10 242.141 -358.389)"/>
</svg>
