.container
  .url-helper#faq

  .title
    = 'Frequently Asked Stuff'
  .faq-items
    .faq-item-container
      .faq-item-icon
        = '?'
      .faq-item
        .faq-item-title Do I need to be part of the Mangrove Community to attend a retreat?
        .faq-item-answer Yes, retreats are only for Mangrove members. Designed to deepen the Mangrove members relationships, our retreats happen every 3 months. If you want to attend a retreat, you’ll need to apply to join the Mangrove community first.
    .faq-item-container
      .faq-item-icon
        = '?'
      .faq-item
        .faq-item-title Can I cancel a booking?
        .faq-item-answer Yes, but we encourage you to find a people to replace you first. If you don’t find anyone, your refund amount will be determined by how long in advance you cancel.
    .faq-item-container
      .faq-item-icon
        = '?'
      .faq-item
        .faq-item-title How much money Mangrove makes with a retreat on average? And why?
        .faq-item-answer Mangrove is a non-profit organization. That being said, in order to pay our yearly fees such as: services (Heroku, Zapier) and communication (events, stickers…) we try to generate 20% profits on average with a retreat organization. In 2016, with 5 retreats, Mangrove only made 12€ in benefits after paying for services and communication.
    .faq-item-container
      .faq-item-icon
        = '?'
      .faq-item
        .faq-item-title Can I bring my significant other?
        .faq-item-answer At the time you're reading this, we are not able to host your sweetheart. Our goal is to strictly develop and strengthen our ecosystem first, but we remain open to discuss this for our future retreats. However, we’re more than welcome to meet & introduce your beloved to us if (s)he is nearby!
    .faq-item-container
      .faq-item-icon
        = '?'
      .faq-item
        .faq-item-title Can children come at Mangrove retreats, too?
        .faq-item-answer By default, retreats are not designed to host children as we have very specific community activities. Then we still humans and baby friendly, if needed mention your little ones to the organizer and we'll see what we can do.
    .faq-item-container
      .faq-item-icon
        = '?'
      .faq-item
        .faq-item-title Can I talk to a real person and ask specific questions?
        .faq-item-answer Of course! You can email us <a href="mailto:hello@mangrove.io">here</a> – a Mangrove Builder will be able to answer any questions you have.
    .faq-item-container
      .faq-item-icon
        = '?'
      .faq-item
        .faq-item-title Help! I have a special diet.
        .faq-item-answer Don’t worry, let us simply know about it on Slack.
