.navbar
  a(href='/')
    include brand_logo
  if currentUser
    .navbar-menu
      a.navbar-menu-item(href='#faq') FAQ
      a.place(href='#house') THE HOUSE
      a.user-avatar(style=`background: url('${currentUser.avatar_url}')`)
  else
    .navbar-menu

      a(href="https://slack.com/oauth/authorize?scope=identity.basic,identity.email,identity.team,identity.avatar&client_id=24629294631.166278537604&redirect_uri=" + slackRedirectUri)
        img(alt="Sign in with Slack" height="40" width="172" src="https://platform.slack-edge.com/img/sign_in_with_slack.png" srcset="https://platform.slack-edge.com/img/sign_in_with_slack.png 1x, https://platform.slack-edge.com/img/sign_in_with_slack@2x.png 2x")
  .navbar-dropdown-menu
    a.user-dropdown-item(href='/') Logout
