.container
    .video-container
        .video-wrapper
            iframe(type='text/html'
            src='https://www.youtube.com/embed/3OVhSbP7KZI'
            frameborder='0')
    .intro-button-video
        a(href="https://mangrove.typeform.com/to/uxvnIV", target='_blank')
            button
                if isSummit
                    = "Apply to this summit"
                else
                    = "Apply to this retreat"