:root {
  font-family: -apple-system, BlinkMacSystemFont, sans-serif;
  background: white;
  font-size: 16px;
  color: rgba(black, .8);
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
