h1 🙀 Aie... Something went wrong !

p You should have encountered one of the following errors:
	ul
		li The email you used is not in our members database. If you need to check the database you can do it <a href='https://airtable.com/shrDA6BgI5nlLKLSa' target='blank'>here</a>.
		li Your payment went wrong
		li The retreat is fully booked for the dates you've chosen
		li The dates you've chosen are customs. This means they do not match one or more full weeks.
		li The developper of this f****** website needs to pull his sleeves...

p You can now <a href='/'>try again</a> or contact any of the Mangrove Builders for help. 
