h1 Check the Slack
p We just celebrated your venue with the other fellows! 
ul
	li 1. Make sure your passport is still valid!
	li 2. Book your plane ticket. We encourage you to talk with the retreat participants to be with your friends and save money on your arrival (taxi, bus and more).
	li 3. You are done, enjoy the trip!
