extends layout
block content
  include includes/hero
  .booking-board-lines
    each week, index in weeks
      .booking-board-line
  include includes/booking_board.pug
  include includes/house_section
  input(id='retreat_organizer_username' type='hidden' value=organizer.username)
  script(src="https://checkout.stripe.com/checkout.js")
  script.
    var config = {
      stripePublishableKey: !{JSON.stringify(stripePublishableKey)},
      retreatId: !{JSON.stringify(id)},
    }
  script(src="/javascripts/stripe.js")
  script(src="/javascripts/main.js")
