extends layout
block content
  .center-line
  include includes/hero
  include includes/booking_board
  include includes/house_section
  include includes/faq
  include includes/video
  input(id='retreat_organizer_username' type='hidden' value=organizer.username)
  script(src="https://checkout.stripe.com/checkout.js")
  script.
    var config = {
      stripePublishableKey: !{JSON.stringify(stripePublishableKey)},
      retreatId: !{JSON.stringify(id)},
      retreatSlug: !{JSON.stringify(slug)},
    }
  script(src="/javascripts/stripe.js")
  script(src="/javascripts/main.js")
