doctype html
html
  head
    title= title
    link(rel='stylesheet', href='/stylesheets/main.css')
    script(src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.0/jquery.min.js")
    link(href="https://cdn.materialdesignicons.com/1.1.34/css/materialdesignicons.min.css" rel="stylesheet")
    meta(charset="utf-8")
    meta(name="viewport" content="width=device-width, initial-scale=1")
    meta(http-equiv="X-UA-Compatible" content="IE=edge,chrome=1")
    script(src='https://cdnjs.cloudflare.com/ajax/libs/slick-carousel/1.6.0/slick.js')
    link(rel='stylesheet' href='https://cdnjs.cloudflare.com/ajax/libs/slick-carousel/1.6.0/slick.min.css')

  body
    include includes/navbar
    block content
    script(async defer src="https://maps.googleapis.com/maps/api/js?key=AIzaSyAG42b1eAh6IbyMrNmtDlLkmDSgi0h2MA0&callback=initMap")
