doctype html
html
  head
    title= title
    link(rel='stylesheet', href='/stylesheets/main.css')
    script(src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.0/jquery.min.js")
    link(href="https://cdn.materialdesignicons.com/1.1.34/css/materialdesignicons.min.css" rel="stylesheet")
    meta(charset="utf-8")
    meta(name="viewport" content="width=device-width, initial-scale=1")
    meta(http-equiv="X-UA-Compatible" content="IE=edge,chrome=1")
    script(src='https://cdnjs.cloudflare.com/ajax/libs/slick-carousel/1.6.0/slick.js')
    link(rel='stylesheet' href='https://cdnjs.cloudflare.com/ajax/libs/slick-carousel/1.6.0/slick.min.css')

    meta(name="description" content="Mangrove develops a new way of working, focused on collaboration and personal fulfillment. We are a global team of passionate tech freelancers and entrepreneurs sharing the same values.")
    meta(property="og:url" content="http://www.mangrove.io")
    meta(property="og:type" content="website")
    meta(property="og:title" content="From Work To Life")
    meta(property="og:description" content="Mangrove develops a new way of working, focused on collaboration and personal fulfillment. We are a global team of passionate tech freelancers and entrepreneurs sharing the same values. Everyday, we learn from each other, build projects together and share unique experiences across the world.")
    meta(property="og:image" content="images/mangrove.png")

    meta(name="twitter:card" content="summary_large_image")
    meta(name="twitter:site" content="@meetmangrove")
    meta(name="twitter:title" content="Mangrove")
    meta(name="twitter:description" content="A new way of working is possible. Meet #Mangrove :point_right: www.mangrove.io")
    meta(name="twitter:creator" content="@meetmangrove")
    meta(name="twitter:image:src" content="images/mangrove.png")

  body
    include includes/navbar
    block content
    script(async defer src="https://maps.googleapis.com/maps/api/js?key=AIzaSyAG42b1eAh6IbyMrNmtDlLkmDSgi0h2MA0&callback=initMap")
